<div
  class="main d-flex flex-column justify-content-center align-items-center min-vh-100"
>
  <form
    class="data-upload d-flex flex-column align-items-center border border-secondary rounded mb-3 p-3"
  >
    <h2 class="title-primary mb-5">Projection Forecasts (PoC)</h2>
    <div class="mb-5">
      <div class="mb-3">
        <label for="file" class="title-primary form-label"
          >Upload CSV File:</label
        >
        <input
          type="file"
          class="form-control"
          id="file"
          name="file"
          accept=".csv"
          #fileInput
          (change)="onFileSelected($event)"
        />
      </div>

      <div class="mb-3">
        <label for="image" class="title-primary form-label"
          >Upload Image:</label
        >
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          accept="image/*"
          #imageInput
          (change)="onImageSelected($event)"
        />
      </div>
    </div>
    <div class="mb-2">
      <textarea
        style="width: 325px; min-height: 250px"
        (input)="onCustomPropmptInput($event)"
        placeholder="Enter Custom Prompt"
      ></textarea>
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!uploadEnabled"
        (click)="onFileUpload($event); $event.preventDefault()"
      >
        Upload
      </button>
    </div>
  </form>
  @if(results) {
  <div
    class="d-flex flex-column justify-content-center align-items-center"
    style="color: whitesmoke"
  >
    <h5>Results:</h5>
    <div>{{ results }}</div>
  </div>
  }
</div>
