<div
  class="d-flex flex-column justify-content-center align-items-center vh-100"
>
  <form class="d-flex flex-column align-items-center mb-3">
    <h2 class="mb-3">Projectio Forecasts (PoC)</h2>
    <div class="mb-3">
      <label for="file" class="form-label">Upload CSV File:</label>
      <input
        type="file"
        class="form-control"
        id="file"
        name="file"
        accept=".csv"
        #fileInput
      />
    </div>
    <div>
      <textarea
        style="width: 325px"
        (input)="onCustomPropmptInput($event)"
        placeholder="Enter Custom Prompt"
      ></textarea>
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onFileUpload($event); $event.preventDefault()"
      >
        Upload
      </button>
    </div>
  </form>
  @if(results) {
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h5>Results:</h5>
    <div>
      {{ results.choices[0].message.content }}
    </div>
  </div>
  }
</div>
